@import 'imports/variables';

@import 'imports/components/buttons';
@import 'imports/components/links';
@import 'imports/components/card';
@import 'imports/components/accordion';

@import 'imports/utilities';

@import 'imports/typography';

@import 'imports/layouts';


body {
    font-family: 'Rubik', sans-serif;
}

body, * {
    margin: 0;
    padding: 0;
}

