@charset "UTF-8";
a.btn {
  text-decoration: none;
}

button.btn {
  outline: none;
  font-family: "Rubik", sans-serif;
}
button.btn:hover {
  cursor: pointer;
}

a.btn, button.btn {
  display: inline-block;
  border-radius: 5px;
  line-height: 28px;
  letter-spacing: 0.25px;
  font-size: 14px;
  font-weight: 500;
  border: 2px solid transparent;
  padding: 10px 32px;
}
a.btn.btn-red, button.btn.btn-red {
  background-color: #FA5959;
  color: #fff;
}
a.btn.btn-red:hover, button.btn.btn-red:hover {
  border: 2px solid #FA5959;
  background: #fff;
  color: #FA5959;
}
a.btn.btn-blue, button.btn.btn-blue {
  background-color: #5267DF;
  color: #fff;
}
a.btn.btn-blue:hover, button.btn.btn-blue:hover {
  border: 2px solid #5267DF;
  background: #fff;
  color: #5267DF;
}
a.btn.btn-light, button.btn.btn-light {
  background-color: #F7F7F7;
  color: #5B6074;
}
a.btn.btn-light:hover, button.btn.btn-light:hover {
  border: 2px solid #5B6074;
  color: #5B6074;
}

button.slider-btn {
  outline: none;
  font-family: "Rubik", sans-serif;
  border: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.53px;
  padding: 30px 0 34px 0;
  color: rgba(36, 42, 69, 0.75);
}
button.slider-btn:hover {
  cursor: pointer;
  color: #FA5959;
}
button.slider-btn.active {
  color: #242a45;
  position: relative;
}
button.slider-btn.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #FA5959;
  margin: 0 auto;
}

a.link {
  text-decoration: none;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
}
a.link.link-red {
  color: #242A45;
}
a.link.link-red:hover {
  color: #FA5959;
}
a.link.link-white {
  color: #fff;
}
a.link.link-white:hover {
  color: #FA5959;
}

.card {
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.2);
  display: inline-block;
  height: 371px;
  width: 280px;
  padding-top: 50px;
}
.card h3 {
  margin-top: 30px;
}
.card span {
  margin-top: 6px;
  display: block;
  line-height: 28px;
  font-size: 15px;
  color: rgba(36, 42, 69, 0.5);
  letter-spacing: 0px;
}
.card .line-dots {
  width: 100%;
  margin-top: 32px;
  height: 4px;
  background: url("../images/bg-dots.svg") no-repeat center center/cover;
}
.card a {
  margin-top: 24px;
  padding: 10px 36px;
}

.questions .question-component {
  border-bottom: 1px solid rgba(36, 42, 69, 0.15);
}
.questions .question-component:first-child {
  border-top: 1px solid rgba(36, 42, 69, 0.15);
}
.questions .question-component .clickable-container {
  display: flex;
  justify-content: space-between;
  padding: 18px 0 13px;
}
.questions .question-component .clickable-container:hover {
  cursor: pointer;
}
.questions .question-component .clickable-container:hover .question-text {
  color: #FA5959;
}
.questions .question-component .clickable-container:hover .btn {
  cursor: pointer;
}
.questions .question-component .clickable-container .question-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0;
  color: #242A45;
}
.questions .question-component .clickable-container .btn {
  width: 10px;
  background: url("../images/icon-arrow.svg") no-repeat center center;
  border: none;
  transform: rotate(0deg);
  transition: all 0.4s;
}
.questions .question-component .answer {
  overflow: hidden;
  max-height: 0;
  transition: all 0.4s;
  padding: 0;
}
.questions .question-component.active .clickable-container .btn {
  transform: rotate(180deg);
  filter: brightness(130%) hue-rotate(119deg) saturate(110%);
}
.questions .question-component.active .answer {
  padding: 19px 0 29px 0;
}

.hero {
  display: flex;
  justify-content: space-around;
  margin-top: 110px;
  padding-bottom: 5%;
}
.hero .hero-content {
  padding-top: 70px;
}
.hero .hero-content p {
  margin-top: 20px;
}
.hero .hero-content .button-container {
  margin-top: 32px;
}
.hero .hero-image {
  height: min-content;
  position: relative;
}
.hero .hero-image img {
  width: 100%;
}
.hero .hero-image::after {
  content: "";
  width: 200%;
  height: 80%;
  background-color: #5267DF;
  position: absolute;
  top: 25%;
  z-index: -1;
  border-radius: 316px;
}
.hero.hero-regular {
  align-items: center;
}
.hero.hero-regular .hero-image {
  text-align: right;
}
.hero.hero-regular .hero-image img {
  margin-left: 10%;
}
.hero.hero-regular .hero-image::after {
  left: 40%;
}
.hero.hero-reverse {
  flex-direction: row-reverse;
}
.hero.hero-reverse .hero-image {
  text-align: left;
}
.hero.hero-reverse .hero-image img {
  margin-left: -10%;
}
.hero.hero-reverse .hero-image::after {
  right: 30%;
  top: 40%;
}

.btn-shadow {
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
}

.text-center {
  text-align: center;
}

.section-block {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}

.pt-16 {
  margin-top: 16px;
}

.d-inline-block {
  display: inline-block;
}

.bg-dark {
  background-color: #242A45;
}

.heading-1 {
  font-weight: 500;
  font-size: 48px;
  color: #242A45;
  letter-spacing: -0.15px;
  line-height: 52px;
}

.heading-2 {
  font-weight: 500;
  font-size: 32px;
  color: #242A45;
  letter-spacing: -0.1px;
  line-height: 52px;
}

.heading-3 {
  font-weight: 500;
  font-size: 20px;
  color: #242A45;
  letter-spacing: 0.25px;
}

.section-text {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: rgba(36, 42, 69, 0.75);
}

.answer {
  color: rgba(36, 42, 69, 0.75);
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.15px;
}

p {
  color: rgba(36, 42, 69, 0.75);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0;
  max-width: 540px;
}

p.smaller-width {
  max-width: 445px;
}

.container {
  max-width: 1290px;
  width: 80%;
  margin: 0 auto;
}

.overflow-hidden {
  overflow: hidden;
}

nav, footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu-items a.link, nav .menu-items a.btn, footer .menu-items a.link, footer .menu-items a.btn {
  text-transform: uppercase;
  margin: 0 22px;
}

footer {
  height: 88px;
}
footer .footer-left-side {
  display: flex;
  align-items: center;
}
footer .footer-left-side #footer-logo {
  padding-right: 22px;
}
footer .socials a:not(:last-child) {
  padding-right: 40px;
}

.slider-buttons {
  display: flex;
  margin: 0 auto;
  max-width: 730px;
}
.slider-buttons .slider-btn {
  border-bottom: 1px solid rgba(73, 93, 207, 0.2);
  flex: 1;
}

.slides .slide {
  display: none;
}
.slides .slide.visible {
  display: block;
}

.browsers-container {
  margin-top: 150px;
}
.browsers-container .browsers-flex {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}
.browsers-container .browsers-flex .card {
  margin: 0 15px;
}
.browsers-container .browsers-flex .card:nth-child(2) {
  margin-top: 40px;
}
.browsers-container .browsers-flex .card:nth-child(3) {
  margin-top: 80px;
}

.faq {
  margin-top: 150px;
  padding-bottom: 150px;
}
.faq .questions {
  margin-top: 56px;
  margin-bottom: 56px;
}
.faq a.btn {
  padding: 10px 24px;
}

.sign-up-container {
  background-color: #5267DF;
  color: #fff;
  padding: 58px 0 73px 0;
}
.sign-up-container .sign-up {
  text-align: center;
}
.sign-up-container .sign-up .sub-caption {
  font-size: 13px;
  font-weight: 500;
  line-height: 0;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.sign-up-container .sign-up .heading-2 {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  line-height: 40px;
  max-width: 408px;
}
.sign-up-container .sign-up .form {
  margin-top: 35px;
}
.sign-up-container .sign-up .form .input-container {
  display: inline-block;
}
.sign-up-container .sign-up .form .input-container input {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  padding: 10px 18px;
  border-radius: 5px;
  outline: none;
  border: 1px solid transparent;
  color: #242A45;
  width: 300px;
}
.sign-up-container .sign-up .form .input-container input::placeholder, .sign-up-container .sign-up .form .input-container input::-webkit-input-placeholder {
  border: none;
  color: rgba(36, 42, 69, 0.25);
}
.sign-up-container .sign-up .form .input-container input:-webkit-autofill, .sign-up-container .sign-up .form .input-container input:-webkit-autofill:hover, .sign-up-container .sign-up .form .input-container input:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #242A45;
  box-shadow: none;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}
.sign-up-container .sign-up .form.error .input-container {
  position: relative;
}
.sign-up-container .sign-up .form.error .input-container input {
  background-image: url("../images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 20px;
  border: 2px solid #FA5959;
  position: relative;
}
.sign-up-container .sign-up .form.error .input-container::after {
  content: "Whoops, make sure it’s an email";
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 10px;
  letter-spacing: 0.25px;
  font-style: italic;
  position: absolute;
  top: 93%;
  left: 0;
  width: calc(100% - 10px);
  background-color: #FA5959;
  border-radius: 0 0 5px 5px;
}

@media screen and (max-width: 936px) {
  .hero.hero-regular, .hero.hero-reverse {
    flex-direction: column-reverse;
  }
  .hero.hero-regular .hero-content, .hero.hero-reverse .hero-content {
    text-align: center;
    padding-top: 100px;
  }
  .hero.hero-regular .hero-content p, .hero.hero-reverse .hero-content p {
    margin: 20px auto 0;
  }
  .hero.hero-regular .hero-image img, .hero.hero-reverse .hero-image img {
    margin: 0;
  }

  .slides .slide:not(:first-child) .hero.hero-reverse .hero-image::after {
    top: 25%;
  }

  .features {
    margin-top: 150px;
  }
  .features .slider-buttons {
    flex-direction: column;
  }
  .features .slider-buttons .slider-btn.active::after {
    left: 50%;
    transform: translateX(-50%);
    width: 143px;
  }

  .browsers-container .browsers-flex {
    flex-direction: column;
    align-items: center;
  }
  .browsers-container .browsers-flex .card {
    width: 80%;
  }
}
body {
  font-family: "Rubik", sans-serif;
}

body, * {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
