.container {
    max-width: 1440px;
    margin: 0 auto;
}

// ------  navigation ------ 
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu-items {
        margin-right: 72px; // do I need this here?
        a {
            &.link, &.btn {
                text-transform: uppercase;
                margin: 0 22px;
            }
        }
    }
}


// ------ Browsers section ------ 
.browsers-container {
    .browsers-flex {
        margin-top: 48px;
        display: flex;
        justify-content: center;

        .card {
            margin: 0 15px;

            &:nth-child(2) {
                margin-top: 40px;
            }
    
            &:nth-child(3) {
                margin-top: 80px;
            }
        }
    }
}

// ------ faq section ------
.faq {
    > h2 {
        
    }

    > p {
        margin-top: 16px;
    }

    .questions {
        margin-top: 56px;
    }
}