.container {
    max-width: 1290px;
    margin: 0 auto;
}

// ------  navigation ------ 
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu-items {
        //margin-right: 72px; // do I need this here?
        a {
            &.link, &.btn {
                text-transform: uppercase;
                margin: 0 22px;
            }
        }
    }
}


// ------ Browsers section ------ 
.browsers-container {
    // margin-top: 150px; //might not need this
    
    .browsers-flex {
        margin-top: 48px;
        display: flex;
        justify-content: center;

        .card {
            margin: 0 15px;

            &:nth-child(2) {
                margin-top: 40px;
            }
    
            &:nth-child(3) {
                margin-top: 80px;
            }
        }
    }
}

// ------ faq section ------
.faq {
    margin-top: 150px;

    .questions {
        margin-top: 56px;
        margin-bottom: 56px;
    }

    a.btn {
        padding: 10px 24px; //override the default since it is slightly different
    }
}