@media screen and(max-width:936px) {
    .hero {
        &.hero-regular, &.hero-reverse {
            flex-direction: column-reverse;
            
            .hero-content {
                text-align: center;
                padding-top: 100px;
                
                p {
                    margin: 20px auto 0;
                }
            }
            
            .hero-image {
                img {
                    margin: 0;
                }
            }
        }
    }
    
    .slides {   
        //changing the distance of the last two slides be more up (away from the next paragraph)
        .slide:not(:first-child){
            .hero {
                &.hero-reverse {
                    .hero-image {
                        &::after {
                            // background-color: red;
                            top: 25%;
                        }
                    }
                }
            }
        }
    }
    
    
    .features {
        margin-top: 150px;
        
        .slider-buttons {
            flex-direction: column;
            
            .slider-btn {
                &.active::after {
                    left: calc(50%);
                    transform: translateX(-50%);
                    width:143px;
                }
            }
        }
    }
    
    .browsers-container {
        .browsers-flex {
            flex-direction: column;
            align-items: center;
            
            .card {
                width: 80%;
            }
        }
    }

    .sign-up-container {
        .sign-up {
            .form {
                .input-container {
                    max-width: 100%;
                    display: block;

                    input {
                        width: 100%;
                        box-sizing: border-box;
                        -webkit-box-sizing:border-box;
                        -moz-box-sizing: border-box;
                    }
                }

                button {
                    width: 100%;
                    margin-top: 15px;
                    display: inline-block;
                }

                &.error {
                    button {
                        margin-top: 40px;
                    }
                }
            }
        }
    }
}

@media screen and(max-width:807px) {
    footer {
        flex-direction: column;
        height: unset;
        padding: 40px 0;

        
        .footer-left-side {
            flex-direction: column;
            
            #footer-logo {
                padding: 0 0 18px;
            }

            .menu-items {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                a {
                    padding: 18px 0;
                }
            }

            
        }

        .socials {
            padding-top: 18px;
        }
    }
}


@media screen and (max-width:372px) {
    .container {
        max-width: 1290px;
        margin: 0 auto;
    }

    nav {
        .menu-items {
            
        }
    }
}