@media screen and(max-width:936px) {
    .hero {
        &.hero-regular {
            flex-direction: column-reverse;

            .hero-content {
                text-align: center;
                padding-top: 100px;
            }
            .hero-image {
                img {
                    margin: 0;
                }
            }
        }
    }

    .features {
        margin-top: 150px;
    }
}