// heading classes
.heading-1 {
    font-weight: 500;
    font-size: 48px;
    color: $primary-black;
    letter-spacing: -0.15px;
    line-height: 52px;
}

.heading-2 {
    font-weight: 500;
    font-size: 32px;
    color: $primary-black;
    letter-spacing: -0.1px;
}

.heading-3 {
    font-weight: 500;
    font-size: 20px;
    color: $primary-black;
    letter-spacing: 0.25px;
}


//paragraph classes
.section-text {
    font-size: 18px;
    line-height:28px;
    letter-spacing: 0px;
    color: $paragraph-color;
}

.answer {
    color: $paragraph-color;
    font-size: 16px;
    line-height:36px;
    letter-spacing: 0.15px;
}

// --- Element styling
p {
    color: $paragraph-color;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    max-width: 540px;
}