a.link {
    text-decoration: none;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;

    &.link-red {
        color:$primary-black;

        &:hover {
            color:$primary-red
        }
    }

    &.link-white {
        color:$color-white;

        &:hover {
            color:$primary-red
        }
    }
}
